/**********TAG SELECTORS**********/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
h1{
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  color: #66BFBF;
  font-size: 5.625rem; /*similar to 90px*/
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: normal;
  color: #66BFBF;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
hr{
  border: none;
  border-top: dotted;
  border-color: #EAF6F6;
  width: 6%;
  border-width: 10px;
}

/**********CLASS SELECTORS**********/
.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
.middle-container{

}
.bottom-container{
background-color: #66BFBF;
margin-top: 50px;
height: 150px;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left:300px;
  bottom: 300px;

}
.mountain {

}
.profile-pic{
  width: 20%;
}
.finance-pic {
  width: 25%;
  float:left;
  margin-right: 30px;
}
.webdev-pic{
  width: 25%;
  float: right;
  margin-left: 30px;


}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}
.btn{
  text-decoration: none;
  background-color: #66BFBF;
  line-height: 2;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  display:inline-block;
  margin-top:20px;
}

.links{
  padding-top: 30px;
}

.copyright{
  margin-top: 50px;
  color: #EAf6f6;
  font-size: 0.75rem;
}

.footer-link{
  margin: 15px;
  text-decoration: none;
  color: #11999E;
}

.contact-me{
  margin-top: 50px;
}
/**********ID SELECTORS**********/
